.container {
    display: flex;
    flex-direction: column;
    background: #333333;
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    padding: 1em;
}

.message {
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    white-space: pre-wrap;
    background: #a5f0af;
    padding: 0.6em;
    margin-top: 1em;
    border-radius: 0.6em;
    border-top-left-radius: 0;
}

.message--sent {
    align-items: flex-end;
    background: #e4e4e4;
    align-self: flex-end;
    border-radius: 0.6em;
    border-top-right-radius: 0;
}

.message__content {
    font-size: 1em;

}

.message__date {
    font-size: 0.6em;
    user-select: none;
}

.message__timestamp {
    font-size: 0.6em;
    user-select: none;
}

.message_history {
    background: #ffffff;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    padding: 1em;
    overflow-y: auto;
}


/* <Messenger /> */
.Messenger {
    display: flex;
    align-items: center;
    background: #262626;
    min-height: 5em;
    max-height: 40em;
    padding: 1em;
}

.Messenger textarea {
    background: #ffffff;
    flex-grow: 1;
    min-height: 2.5em;
    padding: 0.5em;
    margin-right: 1em;
    padding-left: 1em;
    border-radius: 0.5em;
    border: none;
    resize: none;
}


.Messenger__submitButton {
    width: 8em;
    height: 3em;
    border: none;
    border-radius: 0.5em;
    color: #ffffff;
    font-weight: bold;
    transition: 0.2s linear;
}

.Messenger__submitButton:enabled {
    background-color: #0060ce;
    cursor: pointer;
}

.Messenger__submitButton:enabled:hover {
    background-color: #0051ad;
}


/* <RecipientGlance /> */
.RecipientGlance {
    display: flex;
    align-items: center;
    background-color: #262626;
    height: 5em;
    padding: 0.8em;
    white-space: pre-line;
}

.RecipientGlance__profilepic {
    background-color: #e4e4e4;
    width: 3em;
    height: 3em;
    margin-right: 0.8em;
    border-radius: 50%;
}

.RecipientGlance__status {
    /* align-self: flex-end; */
    user-select: none;
    color: #16bd48
}

.RecipientGlance__displayName {
    color: #ffffff;
}

.RecipientGlance__about {
    display: flex;
    flex-direction: column;
}